<nav>
  <div class="nav-wrapper purple darken-1">
    <a href="#" class="brand-logo center">Burger Input</a>
  </div>

</nav>
<div class="container " style="margin-top: 100px;">
  <!-- Page Content goes here -->

  <row>




    <div class="row">
      <h4 class="col s3 offset-s1"> Eat a burger!</h4>
      <h4 class="col s4 offset-s3"> Burgers devoured!</h4>
    </div>




    {{#each burgers}}
    {{#unless devoured}}
    <div class="row">
      <img src="{{this.imgpath}}" alt="burger" width="130px">
      <button class="col s3 offset-s1 purple purple darken-1 change-devour" data-id="{{this.id}}"
        data-newburger="{{this.burgers}}" style="height: 60px;">{{this.burger_name}}</button>
    </div>
    {{/unless}}
    {{/each}}


    {{#each burgers}}
    {{#if devoured}}
    <div class="row">
      <img src="{{this.imgpath}}" alt="burger" width="130px">
      <button class="col s3 offset-s7 purple purple darken-1 change-devour" data-id="{{this.id}}"
        data-newburger="{{this.burgers}}" style="height: 60px;">{{this.burger_name}}</button>
    </div>
    {{/if}}
    {{/each}}


    <h4 class="col s3 offset-s3 center" style="margin-top: 40px;"> Add a burger!</h4>

    <div class="row" style="margin-top: 40px;">

      <form class="create-form">
        <div class="offset-s4 center white input-field col s3" style="height: 37px; justify-content: center;">
          <input value="" id="nb" type="text" name="name" class="validate">
        </div>
        <button class="btn waves-effect waves-light purple darken-1" type="submit" value="0"
          style="margin-top: 15px;">Submit
        </button>
      </form>
    </div>
  </row>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>